# Ignore certain folders
AI Chatbot Using Feedforward Neural Network (FNN)/
Gen AI Project Using Llama3.1/
Amazon Reviews Sentiment Analysis/
Langflow Customer Support Agent/
Sentiment Analysis Based on News Titles/
LangGraph Course FreeCodeCamp/
embedding-concept/
Crawl4ai Implementation/

# Ignore certain files
*.pth